nav.landing {
  height: 10%;
  position: relative;
  @include spacing
}

.logo {
  border-radius: 50%;
  background: white;
  color: black;
  height: 150px;;
  width: 20%;
  position: relative;
  left: 40%;
  display: block;
  @include spacing
}


header {
  @include spacing;
  h1 {
    font : {
      size: $titleFontSize;
    }
  }
}

.formbox {
  position: relative;
  border-radius: $standardRadius;
  background: white;
  width: 50%;
  max-height: 33%;
  left: 25%;
  padding: 2.5%;
  form {
    position: relative;
  }
  h1 {
    color: $blueText;
    font : {
      size: $titleFontSize;
      weight: normal;
    }
    @include form-input;
    @include spacing;
    margin-botom: 5%;
    text-align: left;

  }
  label {
    color: $greyText;
    font: {
      size: $fieldFontSize;
    }
    @include form-input;
    float: left;
  }
  input {
    display: block;
    @include form-input;
    border: none;
    border-bottom: 1px solid $greyText;
    @include spacing
    clear: right;
    margin-left: 10px;
  }
  input:focus {
    outline: none;
    color: $blueText;
  }
  a {
    display: block;
    color: $blueText;
    text-decoration: none;
    @include form-input;
    @include spacing;
  }
  button {
    @include spacing
    margin-top: 5%;
    display: block;
    position: relative;
    width: 24%;
    left: 38%;
    border: 1px solid $blueText;
  }
  button:disabled {
    border: 1px solid $greyText;
  }
  p {
    color: $greyText;
    margin: 0;
    padding: 0;
    @include spacing;
  }
}

.linkedin {
  width: 50%;
  position: relative;
  left: 25%;
  margin: 0;
  padding: 0;
  @include spacing;
}

.progress-container {
  @include spacing;
  position: relative;
  left: 25%;
  width: 50%;
  height: 25px;
  border-radius: 25px;
  background: white;
}

.progressbar1 {
  @include progress(progress1, 0, 33%);
}

@keyframes progress1 {
  0% {
    width: 0;
  }
  100% {
    width: 33%;
  }
}
.progressbar2 {
  @include progress(progress2,33%, 66%);
}

@keyframes progress2 {
  0% {
    width: 33%;
  }
  100% {
    width: 66%;
  }
}
.progressbar3 {
  @include progress(progress3, 66%, 100%);
}

@keyframes progress3 {
  0% {
    width: 66%;
  }
  100% {
    width: 100%;
  }
}

.check {
  width: 10%;
  height: 10%;
  position: relative;
  left: 45%;
}
