<main>
  <img class="logo" src="img/logo.png">
  <section class="formbox">
    <h1>{{authctrl.signup ? 'Sign Up':'Login'}}</h1>
    <form name="authform" data-ng-submit="authctrl.authenticate(authctrl.user)">
      <label for="email">Email:</label>
      <input type="text" required data-ng-model="authctrl.user.email">

      <label for="password">Password:</label>
      <input type="password" required data-ng-model="authctrl.user.password">

      <label data-ng-if="authctrl.signup" for="confirmation">Confirm Password:</label>
      <input data-ng-if="authctrl.signup" required type="password" data-ng-model="authctrl.user.password_confirmation">

      <button type="submit" data-ng-disabled="authform.$invalid">{{authctrl.buttonText}}</button>
    </form>
    <a data-ng-href="/#/{{authctrl.signup? 'signin':'signup'}}">{{(authctrl.signup ? 'Login':'Sign Up')}}</a>
  </section>

  <div class="progress-container">
    <div class="progressbar1"></div>
  </div>

</main>
